@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');

p{
    font-family: 'Twinkle Star', cursive;
    font-size: xx-small;
}
div{
    font-family: 'Moo Lah Lah', cursive;
}