body{
    background-color: lightgray;
}
.titulo-principal{
    text-align: center;
    letter-spacing: 10px;
}

.contenido-principal{
    width: 90%;
    margin: 0 auto;
}
.contenido{
    width: 80%;
    margin: 0 auto;
}

.contenido-principal .encabezado{
    background-color: gray;
    color: white;
    padding: 10px 5px;

}
.contenido-principal .contenido-imagen{
    float: left;

}
.contenido-principal .contenido-texto{
    margin-left: 150px;

}
.contenido-principal .contenido-texto p{
    margin-left: 20px;
    text-align: justify;

}
.clearfix{
    float: none;
    clear: both;
}
